

<body style="background-image: url('https://media.macphun.com/img/uploads/customer/blog/1543597882/15435994595c0175636b7260.24778845.jpg?q=85&w=1680');">

<h1 id="Art">Spenden für den Weihnachtsmarkt</h1>

<p id="Id">Hier können Sie für Ihre lokalen Vereine Spenden.
</p>
<br>



<br>

<p align=center>
<%= link_to 'Neue Spende', new_spenden_weihnachtsmarkt_path, class:"btn btn-success" %>
</p>

</body>