<body style="background-image: url('https://media.macphun.com/img/uploads/customer/blog/1543597882/15435994595c0175636b7260.24778845.jpg?q=85&w=1680');">

<h1 id="Art">Spende für den Weihnachtsmarkt</h1>
<br><br>

<%= render 'form', spenden_weihnachtsmarkt: @spenden_weihnachtsmarkt %>
<br>

<%= link_to 'Zurück', spenden_weihnachtsmarkts_path, class:"btn btn-success" %>

</body>