<body style="background-image: url('https://media.macphun.com/img/uploads/customer/blog/1543597882/15435994595c0175636b7260.24778845.jpg?q=85&w=1680');">

<h1 id="Art">Neuer Artikel</h1>
</br>
<%= render 'form', artikel: @artikel %>
</br>
<%= link_to 'Zurück', artikels_path, class:"btn btn-success" %>


</body>