<body style="background-color:(255, 255, 255);">


<h1 id="Back"> About us </h1>
<br><br>




<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        Unser Weihnachtsmarkt
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body ">Nach einer langen Tradition kann man über unseren Weihnachtsmarkt schlendern, Glühwein trinken und gebrannte Mandeln essen. Jedes Jahr aufs Neue lassen wir die Welt mithilfe von Lichterketten erstrahlen und auch trotz Corona wollen wir dies erreichen! <br>
      Um einen möglichst kurzen Aufenthalt zu gewährleisten, bitten wir alle Vereine darum, eine Liste mit ihren angebotenen Waren zu veröffentlichen.</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        Das sind wir
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
      	


      	<div class="card-group">
  <div class="card text-white bg-success">
    <img src="https://a.wattpad.com/useravatar/TomSkaGurl.256.313880.jpg" alt="Profilbild">
    <div class="card-body">
      <h5 class="card-title">Michelle Stoll</h5>
      <p class="card-text"> Portfolio Ruby on Rails</p>
      <p class="card-text"><small class="text-muted"> </small></p>
    </div>
  </div>
  <div class="card text-white bg-success">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVLRa6YPojf7hb8k4AndFInAp0MY6xV-ZLwA&usqp=CAU" alt="Profilbild">
    <div class="card-body">
      <h5 class="card-title">Lena Grau</h5>
      <p class="card-text">Portfolio Ruby on Rails</p>
      <p class="card-text"><small class="text-muted"> </small></p>
    </div>
  </div>
  <div class="card text-white bg-success">
    <img src="https://pbs.twimg.com/profile_images/750468173363806208/qTRg42cT_400x400.jpg" class="card-img-top" alt="Profilbild">
    <div class="card-body">
      <h5 class="card-title">Hanna Heinzmann</h5>
      <p class="card-text">Portfolio Ruby on Rails</p>
      <p class="card-text"><small class="text-muted"> </small></p>
    </div>
  </div>
</div>



      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        Impressum
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body"> <b>Herausgeber</b><br><br>
      Michelle Stoll, Lena Grau und Hanna Heinzmann <br><br>
      <b>Adresse: </b> Coblitzallee 1-9, 68163 Mannheim
      <br><br>
      <b>Telefon:</b> 0000 00000 <br><br>
      <b>Gründung: </b>1924

</div>
    </div>
  </div>
</div>


</body>