
<head>
	<title> Weihnachtsmarkt </title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body style="background-image: url('https://media.macphun.com/img/uploads/customer/blog/1543597882/15435994595c0175636b7260.24778845.jpg?q=85&w=1680');">


	<br><br><br><br>
<h1 id="Art">Willkommen auf unserem online Weihnachtsmarkt!</h1>


<br><br>
<p id="Id"> Hier finden Sie vorab eine Liste aller käuflichen Artikel unseres Weihnachtsmarktes.</p>
<br><br>

<p align=center>
<%= link_to 'Artikel anzeigen', artikels_path, class:"btn btn-success" %>
</p>

<p align=center>
<%= link_to 'Spenden', spenden_weihnachtsmarkts_path, class:"btn btn-success" %>
</p>

</body>