<body style="background-image: url('https://media.macphun.com/img/uploads/customer/blog/1543597882/15435994595c0175636b7260.24778845.jpg?q=85&w=1680');">
	
<br><br><br><br>
<div class="card text-center">
  <div class="card-header">
    Spendenbenachritigung
  </div>
  <div class="card-body">
    <h5 class="card-title">Vielen Dank für Ihre Spende</h5>
    <p class="card-text">Wir wünschen Ihnen schöne Feiertage und einen guten Start ins neue Jahr!</p>
    
  </div>
  <div class="card-footer text-muted">
    
  </div>
</div>
</body>